@page "/books"
@using Bookio.SPA.Services
@using Bookio.SPA.Models
@inject BookService BookService

<h3>Books</h3>

@foreach (var book in booksList)
{
    <p>@book.Title</p>
}

@code {
    List<Book> booksList;

    protected override void OnInitialized()
    {
        booksList = BookService.GetAllBooks().ToList();
    }
}
